[package]
name = "hydroflow_plus_test"
publish = false
version = "0.0.0"
edition = "2021"

[dependencies]
hydroflow = { path = "../hydroflow", version = "^0.5.0", features = [ "cli_integration" ] }
hydroflow_plus = { path = "../hydroflow_plus", version = "^0.5.0" }
tokio = { version = "1.16", features = [ "full" ] }
stageleft = { path = "../stageleft", version = "^0.1.0" }
hydroflow_plus_cli_integration = { path = "../hydroflow_plus_cli_integration", version = "^0.5.0" }

hydroflow_plus_test_macro = { path = "../hydroflow_plus_test_macro" }

[build-dependencies]
stageleft_tool = { path = "../stageleft_tool", version = "^0.1.0" }

[dev-dependencies]
insta = "1.7.1"
hydro_cli = { path = "../hydro_cli", version = "^0.5.0" }
hydroflow_plus_cli_integration = { path = "../hydroflow_plus_cli_integration", version = "^0.5.0", features = [ "deploy" ] }
futures = "0.3"
