/target*
/rust.git
/*.dot
__pycache__/

# Profiling related outputs of the perf binary and cargo-flamegraph
perf.data
perf.data.old
flamegraph.svg

# Log files from running hydro_cli_examples/2pc.hydro.py
2pc_out/