[package]
name = "hydroflow_plus_test_local"
publish = false
version = "0.0.0"
edition = "2021"

[lints]
workspace = true

[features]
stageleft_devel = []

[dependencies]
hydroflow = { path = "../hydroflow", version = "^0.9.0", default-features = false } # , features = ["debugging"] }
hydroflow_plus = { path = "../hydroflow_plus", version = "^0.9.0" }
stageleft = { path = "../stageleft", version = "^0.4.0" }
rand = "0.8.0"

hydroflow_plus_test_local_macro = { path = "../hydroflow_plus_test_local_macro" }

[build-dependencies]
stageleft_tool = { path = "../stageleft_tool", version = "^0.3.0" }

[dev-dependencies]
insta = "1.39"
futures = "0.3.0"
