### TERRAFORM IGNORES ###
# Terraform Plugin and module directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

*.tfvars
*.tfvars.json

# Ignore local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform CLI configuration files
.terraformrc
terraform.rc

# Backup files created by Terraform during state edits
*.backup

# Terraform plan files (these are generated and can be large)
*.tfplan
