[package]
name = "website_playground"
publish = false
version = "0.0.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = ["console_error_panic_hook"]

[dependencies]
futures = "0.3.0"
hydroflow_datalog_core = { path = "../hydroflow_datalog_core" }
hydroflow_lang = { path = "../hydroflow_lang" }
hydroflow = { path = "../hydroflow" }
prettyplease = "0.2.0"
proc-macro2 = "1.0.74"
quote = "1.0.35"
serde = { version = "1.0.197", features = ["derive"] }
serde-wasm-bindgen = "0.4.5"
syn = { version = "2.0.46", features = [ "parsing", "extra-traits" ] }
tokio = { version = "1.29.0", features = [ "sync" ] }
wasm-bindgen = "0.2.83"
web-sys = { version = "0.3.51", features = [ "console" ] }

# The `console_error_panic_hook` crate provides better debugging of panics by
# logging them with `console.error`. This is great for development, but requires
# all the `std::fmt` and `std::panicking` infrastructure, so isn't great for
# code size when deploying.
console_error_panic_hook = { version = "0.1.6", optional = true }

[dev-dependencies]
wasm-bindgen-test = "0.3.33"
