.personContainer {
  width: 250px;
  border-radius: 15px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  padding-bottom: 5px;
}

[data-theme='dark'] .personContainer {
  box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.15);
}

.personGroup {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

div.personImage {
  background-position: center;
}

.personImage img {
  object-fit: cover;
  height: inherit !important;
}

.subtitle {
  font-family: 'Inter', sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 0;
}

@media screen and (max-width: 1000px) {
  .subtitle {
    font-size: 40px;
    margin-top: 30px;
  }
}