[package]
name = "hydroflow_plus_std"
publish = true
version = "0.10.0"
edition = "2021"
license = "Apache-2.0"
documentation = "https://docs.rs/hydroflow_plus_std/"
description = "Standard library of distributed systems building blocks for Hydroflow+"

[lints]
workspace = true

[lib]
path = "src/lib.rs"

[dependencies]
hydroflow_plus = { path = "../hydroflow_plus", version = "^0.10.0", default-features = false }
stageleft = { path = "../stageleft", version = "^0.5.0" }

[build-dependencies]
stageleft_tool = { path = "../stageleft_tool", version = "^0.4.0" }

[dev-dependencies]
hydroflow_plus = { path = "../hydroflow_plus", version = "^0.10.0" }
insta = "1.39"
hydro_deploy = { path = "../hydro_deploy/core", version = "^0.10.0" }
async-ssh2-lite = { version = "0.5.0", features = ["vendored-openssl"] }
ctor = "0.2.8"
