[package]
name = "hydro_cli_examples"
publish = false
version = "0.0.0"
edition = "2021"

[lints]
workspace = true

[[example]]
name = "empty_program"

[[example]]
name = "stdout_receiver"

[[example]]
name = "tagged_stdout_receiver"

[[example]]
name = "dedalus_sender"

[[example]]
name = "dedalus_receiver"

[[example]]
name = "dedalus_vote_leader"

[[example]]
name = "dedalus_vote_participant"

[[example]]
name = "dedalus_2pc_coordinator"

[[example]]
name = "dedalus_2pc_participant"

[[example]]
name = "ws_chat_server"

[dev-dependencies]
hydroflow = { path = "../../hydroflow", features = [ "deploy_integration" ] }
hydroflow_datalog = { path = "../../hydroflow_datalog" }

tokio = { version = "1.29.0", features = [ "full" ] }
serde = { version = "1.0.197", features = ["rc"] }
serde_json = "1.0.115"
rand = "0.8.0"

futures = "0.3.0"

tokio-tungstenite = "0.20.0"
