---
name: examples-container-build

on: push

# FIXME: replace on: block with this after it works on a branch
# on:
#   push:
#     branches: [main]

jobs:
  buildx:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - id: buildx
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          buildkitd-flags: --debug
      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          platforms: linux/amd64, linux/arm64
          push: true
          secrets: |
            GIT_AUTH_TOKEN=${{ github.token }}
          tags: ${{ github.repository_owner }}/hydroflow-examples:${{ github.sha }},${{ github.repository_owner }}/hydroflow-examples:latest
